node_modules
yotta_modules
yotta_targets
pxt_modules
built
typings
tmp
temp
.vscode/ipch
projects/**
clients/win10/app/AppPackages
clients/win10/app/BundlePackages
clients/win10/app/BundleArtifacts
clients/win10/app/bin
clients/win10/app/bld
clients/win10/*.opendb
clients/**/bin/**
clients/**/obj/**
clients/electron/projects


videos/**
*.user
*.sw?
*.ts.new
*.tgz
*.db
*.suo
*.log
.pioenvs
.piolibdeps
lib/
_locales

**/*.DS_Store
package-lock.json
